*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#main
{
    
    padding:1rem;   
    background:#eee;
    
}
#main > p 
{
    margin:1rem; 
    text-align: center;
    font-size:1.1rem;
}
#title
{
    margin-bottom:1rem;
    margin:1rem; 
    text-align: center;
    /* font-size: 3rem;code */
}
#img-div
{
    background-color: white; 
    /* margin:2rem auto; code */
    text-align: center;
    border-radius: 1rem;
    width: 100%;
    
}
#image{
    display: block;
    height: auto;
    max-width: 100%;
    margin: auto;
}
#img-caption
{
    margin:1rem;
    margin-bottom:2rem;
    padding:1rem;
    text-align: center;
    font-size: 1rem;
}
#tribute-info
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tribute-info
{
    max-width:600px;
    margin: auto;
    padding: 1rem 0.5rem;
}
ul 
{
    line-height: 1.6;
}  
li{
    display: list-item;
    padding: 0.5rem;
}
h3{
    padding:1rem;
    margin:1rem;
}
#tribute-info p
{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
